{% extends 'base.html.twig' %}

{% block title %}TranslatedText index{% endblock %}

{% block body %}
{% set _currentPage = app.request.query.get('page') ?: 1 %}
{% set _currentRoute = app.request.attributes.get('_route') %}
{% set _currentParams = app.request.query.all|merge(app.request.attributes.get('_route_params')) %}

    <h1>TranslatedText index</h1>

    <table>
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Translated Text</th>
                <th>Language</th>
                <th>Original Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for text in translated_texts %}
            <tr>
                <td>{{ text.author }}</td>
                <td>{{ text.title }}</td>
                <td>{{ text.text }}</td>
                <td>{{ text.language }}</td>
                <td>{{ text.originalText }}</td>
                <td>
                    <a class="details" href="{{ path('app_translated_text_show', {'id': text.id}) }}">Show Details</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    </br>
                    <a class="details" href="{{ path('app_translated_text_edit', {'id': text.id}) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if lastPage > 1 %}
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item{{ _currentPage <= 1 ? ' disabled' : '' }}">
                <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({page: _currentPage - 1})) }}" aria-label="Previous">
                    &laquo; Back
                </a>
            </li>
            {% for i in 1..lastPage %}
                <li class="page-item {% if i == _currentPage %}active{% endif %}">
                    <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({page: i})) }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li class="page-item {{ _currentPage >= lastPage ? ' disabled' : '' }}">
                <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({page: _currentPage + 1})) }}" aria-label="Next">
                    Forward &raquo;
                </a>
            </li>
        </ul>
    </nav>
{% endif %}
</br>
{% if is_granted('ROLE_ADMIN') %}
     <a class="details" href="{{ path('originaltext_new') }}" class="btn btn-primary">Create New Original Text</a>
     {% endif %}
{% endblock %}
