{% extends 'base.html.twig' %}

{% block title %}Hello Original Text index!{% endblock %}


{# Body #}

{% block body %}
    <div class="container">
        <h1>Original Text index</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Text</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>

            <tbody>
            {% for text in texts %}
                <tr>
                    <td>{{ text.id }}</td>
                    <td>{{ text.title }}</td>
                    <td>{{ text.author }}</td>
                    <td>{{ text.text }}</td>
                    <td>
                        <a href="{{ path('originaltext_show', {'id': text.id}) }}"
                            class="btn btn-primary">
                            show
                        </a>

                        <a href="{#{ path('text_edit', {'id': text.id}) }#}"
                           class="btn btn-primary">
                            edit
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}