{% extends 'base.html.twig' %}


{# SEO #}

{% set pageHeadTitle='Original Text' %}


{# Assets #}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('originaltext') }}
{% endblock %}


{# Body #}

{% block body %}
    <div class="container">
        <h1>Original Text</h1>

        <div class="card">
            <h5 class="card-header">{{ originaltext.title }}</h5>

            <div class="card-body">
                <p class="card-text">{{ originaltext.author }}</p>
                <p class="card-text">{{ originaltext.textImg }}</p>
                <p class="card-text">{{ originaltext.century }}</p>
                <p class="card-text">{{ originaltext.insertDate | date('d-m-Y')}}</p>
                <p class="card-text">{{ originaltext.hits }}</p>
                <p class="card-text">{#{ originaltext.place.id }#}</p>

                <a href="{{ path('originaltext_index') }}" class="btn btn-secondary">
                    back to list
                </a>
                </br>
                <a href="{{ path('originaltext_edit', {'id': originaltext.id}) }}" class="btn btn-primary">
                    edit
                </a>

                {{ include('originaltext/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}