{% extends 'base.html.twig' %}

{% block title %}Pagination index{% endblock %}

{% block body %}
    <h1>Pagination index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ControllerName</th>
                <th>Results</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pagination in paginations %}
            <tr>
                <td>{{ pagination.id }}</td>
                <td>{{ pagination.controllerName }}</td>
                <td>{{ pagination.results }}</td>
                <td>
                    <a class="details" href="{{ path('app_pagination_show', {'id': pagination.id}) }}">Show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    </br>
                    <a class="details" href="{{ path('app_pagination_edit', {'id': pagination.id}) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</br>
{% if is_granted('ROLE_ADMIN') %}
    <a class="details" href="{{ path('app_pagination_new') }}">Create new</a>
{% endif %}
{% endblock %}
